.DS_Store
.vscode
### PLUGINS ###
plugins
plugins/confluent*

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
.idea/*
*.iws
*.iml
*.ipr

### Terraform ###
.terraform
.tfstate
.tfstate.*backup
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash.log
sshkey*


*connector.json
