{
  "name": "OracleXStreamSourceConnector",
  "config": {
    "name": "OracleXStreamSourceConnector",
    "connector.class": "io.confluent.connect.oracle.xstream.cdc.OracleXStreamSourceConnector",
    "tasks.max": "1",
    "key.converter": "io.confluent.connect.avro.AvroConverter",
    "key.converter.schema.registry.url": "http://schema-registry:8081",
    "value.converter": "io.confluent.connect.avro.AvroConverter",
    "value.converter.schema.registry.url": "http://schema-registry:8081",
    "errors.log.enable": "true",
    "errors.log.include.messages": "true",
    "snapshot.mode": "initial",
    "snapshot.fetch.size": 10000,
    "snapshot.max.threads": 4,
    "query.fetch.size": 10000,
    "max.queue.size": 65536,
    "max.batch.size": 16384,
    "producer.override.batch.size": 204800,
    "producer.override.linger.ms": 50,
    "heartbeat.interval.ms": 300000,
    "enable.metrics.collection": "true",
    "database.hostname": "###DATABASE_HOSTNAME###",
    "database.port": "###DATABASE_PORT###",
    "database.user": "###DATABASE_USER###",
    "database.password": "###DATABASE_PASSWORD###",
    "database.dbname": "XE",
    "database.service.name": "XE",
    "database.pdb.name": "XEPDB1",
    "database.out.server.name": "XOUT",
    "database.processor.licenses": "1",
    "decimal.handling.mode": "double",
    "topic.prefix": "xstream",
    "table.include.list": "DEMO[.].*",
    "schema.history.internal.kafka.topic": "oracle_schema_history",
    "schema.history.internal.kafka.bootstrap.servers": "broker1:29092,broker2:29092,broker3:29092",
    "schema.history.internal.skip.unparseable.ddl": "true",
    "schema.history.internal.store.only.captured.tables.ddl": "true",
    "skipped.operations": "none",
    "time.precision.mode": "connect",
    "message.key.columns": "DEMO.JOBS:JOB_ID;",
    "transforms": "flatten,convertTS",
    "transforms.flatten.type": "io.debezium.transforms.ExtractNewRecordState",
    "transforms.flatten.drop.tombstones": "false",
    "transforms.flatten.delete.handling.mode": "none",
    "transforms.flatten.delete.tombstone.handling.mode": "tombstone",
    "transforms.flatten.add.fields": "source.db:MAQUINA_ID,source.ts_ms:SOURCETIMESTAMP",
    "transforms.flatten.add.fields.prefix": "",
    "transforms.convertTS.type": "org.apache.kafka.connect.transforms.TimestampConverter$Value",
    "transforms.convertTS.target.type": "Timestamp",
    "transforms.convertTS.field": "SOURCETIMESTAMP"
  }
}
